{% extends "App::layout.html.twig" %}

{% block title %}Odalisk project{% endblock %}

{% block menu %}
    <li class="active"><a href="#why">Why Odalisk</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contribute">Contribute</a></li>
{% endblock %}

{% block page_name %}
<body data-spy="scroll" class="home">
{% endblock %}

{% block content %}

                <header class="hero-unit">
      <div class="inner">
        <h1>OpenData live score checking</h1>
        <p>Check openness of major dataportal and live test your own</p>
        <div>
          <a class="btn btn-info btn-large">Download our Chrome extension</a>
          <a class="btn btn-large" href="{{ path('portals') }}">Browse portal scores</a>
        </div>
        <p style="font-size:20px;"><strong>Odalisk is still in beta but you can already start to browse our database and check Dataportal openness scores</strong></p>
      </div>
</header>
<div class="container">
    <section id="why">
        <div class="page-header">
            <h1>Why <span class="blue-font">Odalisk</span> ?</h1>
        </div>
        <div class="page-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="row">
                <div class="span4">
                    <h3>Openness</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    
                </div>
                <div class="span4">
                    <h3>Education</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    
                </div>
                <div class="span4">
                    <h3>Accessibility</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="page-header">
          <h1>About</h1>
        </div>
        <div class="page-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </section>

      <section id="contribute">
        <div class="page-header">
          <h1>How to contribute</h1>
        </div>
        <div class="page-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <h3>Install the project :</h3>
        <pre class="prettyprint linenums">git clone https://github.com/odalisk/odalisk/</pre>
      </section>



</div><!-- container -->

{% endblock %}
