{% extends 'App::layout.html.twig' %}

{% block title %}Odalisk project - Coming soon{% endblock %}

{% block content %}
    <div id="maintenance_mode">
        <h1>Odalisk</h1>
    </div>
{% endblock %}