{% extends "App::layout.html.twig" %}

{% block menu %}
    <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
    <li class="active"><a href="{{ path('search') }}">Recherche avancée</a></li>
{% endblock %}

