{% extends "App::layout.html.twig" %}

{% block menu %}
    <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
    <li><a href="{{ path('search') }}">Advanced Search</a></li>
    <li><a onclick="$('#contactModal').modal()">Contact Us !</a></li>
{% endblock %}

