{% extends "App::browser.html.twig" %}

{% block title %}Odalisk project{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <a href="{{ path('browser') }}">Browser</a> <span class="divider">/</span>
        <li class="active">Portals</li>
    </ul>
    <div class="well hero-unit hero-unit-presentation">
        <h1>Portals : </h1>
        <p>Find here all portals crowled by our system</p>
    </div>
    <div class="fluid-container">
        <div class="row-fluid row-nomargin-top">
            <div class="span12">
                {% include "App:Search:portal-list.html.twig" %}
            </div>

        </div><!--/row-->
    </div>
{% endblock %}

{% block jsvariables %}
    window.searchType = "portal";
    window.needResult = true;
    {{ parent() }}
{% endblock %}
