<div class="spanCustom">
    <div class="portal-span-item">
        <header>
            <a href="{{ path('portal_details', { 'portal_number': portal.id }) }}">
                <h3>
                    {% if portal.name|length > 50 %}
                        {{ portal.name|slice(0,50) }}...
                    {% else %}
                        {{ portal.name|slice(0,50) }}
                    {% endif %}
                    <span class="badge badge-inverse">{{ portal.datasetCount }} <span class="badge-details">datasets</span></span>
        
                </h3>
            </a>
        </header>
        <div class="content">
            <div class="summary">
                {% include "App:Portal:info-table.html.twig" with {'portal' : portal, 'display_date' : false } %}
                {% set score = portal.metric.score * 100 %}
                {% include "App:Api:progress-bar.html.twig" with {'score': score,'with_number':true} %}
            </div>
        </div>
    </div>
</div>
