<div class="span4">
    <div class="portal-span-item">
            <header>
            <h3>
                {% if portal.name|length > 50 %}
                    {{ portal.name|slice(0,50) }}...
                {% else %}
                    {{ portal.name|slice(0,50) }}
                {% endif %}
            </h3>
        </header>
        <div class="content">
            <div class="summary">
                {% include "App:Portal:info-table.html.twig" with {'portal' : portal, 'display_date' : true } %}
            </div>
            <div class="button">
                <a class="btn" href="{{ path('portal_details', { 'portal_number': portal.id }) }}">Détails</a>
            </div>
        </div>
    </div>
</div>
