<tr class="portal-table-item">
    <td colspan="3" >
        <h3>
                {% if portal.name|length > 50 %}
                    {{ portal.name|slice(0,50) }}...
                {% else %}
                    {{ portal.name|slice(0,50) }}
                {% endif %}
        </h3>
    </td>
</tr>
<tr class="portal-table-item">
    <td colspan="2" class="summary">
        <a class="portal-link" href="{{ portal.url }}">Visiter le site web</a>
    </td>
    </td>
    <td class="button">
        <a class="btn" href="{{ path('portal_details', { 'portal_number': portal.id }) }}">Details</a>
    </td>
</tr>
