<div class="row-fluid row-nomargin-top">
    <div class="span9">
        <h1>Portals list</h1>
        <div class="container-fluid portal-block" id="request-result">
        </div>
    </div>
    <div id="alwaysOnTop" class="span3">
        <div id="search-row">
            <input placeholder="Search" type="text" id="search" class="search-query"/>
        </div>
        <div class="well tag-list">
            <ul class="nav nav-list">
                {% render "App:Api:portalTags" %}
            </ul>
        </div> <!-- /well -->
    </div>
</div>
