{% extends "App::browser.html.twig" %}

{% block title %}Search - Odalisk project{% endblock %}

{% block menu %}
    <li><a href="{{ path('portals') }}">Browser</a></li>
    <li class="active"><a href="{{ path('search') }}">Advanced Search</a></li>
    <li><a onclick="$('#contactModal').modal()">Contact Us !</a></li>
{% endblock %}

{% block content %}
<div class="row-fluid row-nomargin-top">
    <div class="span12">
        
        <div class="well hero-unit hero-unit-intro">
            <h1>Advanced search : </h1>
        </div>
        <div class="container-fluid">
            <div class="row-fluid row-nomargin-top">
                <div class="span12">
                    {% include "App:Search:dataset-list.html.twig" with {'current_portal': null} %}
                </div>
            </div><!--/row-->
        </div>
    </div>
</div>
{% endblock %}

{% block jsvariables %}
    window.searchType = "dataset";
    window.displayType = "list";
    window.needResult = true;
    {{ parent() }}
{% endblock %}
