{% if datasets|length > 0 %}
{% for dataset in datasets %}
    <tr>
        {% include 'App:Dataset:table-item.html.twig' with {'dataset': dataset[0]} %}
    </tr>
{% endfor %}
{% elseif pagenumber != 0 %}
{% else %}
    <tr>
        <td colspan="3" class="dataset-item">
            <h2>Aucun résultat</h2>
        </td>
    </tr>
{% endif %}