<li class="nav-header">Platform type</li>
<li><span data-value="ckan" data-type="platform-type" class="label"><span class="label-name">CKAN</span> <span>+</span></span></li>
<li><span data-value="socrata" data-type="platform-type" class="label"><span class="label-name">Socrata</span> <span>+</span></span></li>
<li><span data-value="incite" data-type="category" class="label"><span class="label-name">inCite</span> <span>+</span></span></li>
<li><span data-value="publica" data-type="category" class="label"><span class="label-name">Publica</span> <span>+</span></span></li>
<li class="nav-header">Language</li>
<li><span data-value="fr" data-type="language" class="label"><span class="label-name">French</span> <span>+</span></span></li>
<li><span data-value="en" data-type="language" class="label"><span class="label-name">English</span> <span>+</span></span></li>
<li><span data-value="other" data-type="language" class="label"><span class="label-name">Other</span> <span>+</span></span></li>
<li class="nav-header">Organisation type</li>
<li><span data-value="city" data-type="organisation-type" class="label"><span class="label-name">City</span> <span>+</span></span></li>
<li><span data-value="country" data-type="organisation-type" class="label"><span class="label-name">Country</span> <span>+</span></span></li>
<li><span data-value="company" data-type="organisation-type" class="label"><span class="label-name">Company</span> <span>+</span></span></li>
<li><span data-value="nonprofit" data-type="organisation-type" class="label"><span class="label-name">Non profit organisations<span>+</span></span></li>
<li><span data-value="other" data-type="organisation-type" class="label"><span class="label-name">Non Other<span>+</span></span></li>
