{% if score > 80 %}
<div class="progress progress-striped
 active progress-success">
{% elseif score > 60%}
    <div class="progress progress-striped
     active progress-info">
{% elseif score > 40%}
    <div class="progress progress-striped
      active progress-warning">
{% else %}
    <div class="progress progress-striped
      active progress-danger">
{% endif %}
  <div class="bar"
       style="width: {{ score }}%;"></div>
</div>