/*
 *= require libs/boilerplate
 */

/*
    @import url(http://fonts.googleapis.com/css?family=Pacifico);
    @import url(http://fonts.googleapis.com/css?family=Raleway:100);
*/

@import "../../../../../vendor/assets/css/bootstrap/bootstrap.less";

body {
    
    .navbar {
        .brand {
            font-family: Pacifico, cursive;
            font-size:28px;
            line-height:30px;
            color:#2ECBFA;
            background: -webkit-gradient(linear, left top, left bottom, from(#2ECBFA), to(#2081AD));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .nav > li > a {
            text-shadow:none;
            font-weight:bold;
        }
    }
    
    .row-fluid {
        margin-top:60px;
    }
    
    .well {
        padding:20px 30px 20px 30px;
        
        h1, h2 {
            float:left;
        }
        
        h2 {
            margin-top:26px;
            margin-left:10px;
        }
    }
    
    .hero-unit-intro {
        table {
            margin-top:20px;
            background:white;
            .key {
                text-align:right;
                margin-right:10px;
            }
        }
        
        .score {
            .total-score {
                font-size:30px;
                td {
                    margin:10px;
                    vertical-align:middle;
                    height:50px;
                }
                
                
                
                
                .progress {
                    height:30px;
                    .bar {
                        height:30px;
                    }
                }
            }
            
            font-size:15px;
            
            .note {
                text-align:right;
            }
            
            .progress {
                width:300px;
                margin-bottom:0px;
            }
            
        }
    }
    
    table.check {
        
        tr:hover, tr {
            .tick {
                width:10px;
            }

            .tick-success {
                background:#5CBC41;
            }

            .tick-failure {
                background:#E04846;
            }
        }
        
        
    }
}























#maintenance_mode {
    position:fixed;
    width:100%;
    height:100%;
    background-color:#2ECBFA;
    background-image:url('/bundles/app/img/noise.png'), -webkit-gradient(linear, left top, left bottom, from(#2ECBFA), to(#2081AD));
    #center_block {
        text-align:center;
        margin-top:100px;
        h1 {
            
          position: relative;
          margin:auto;
          width:100%;
          text-align:center;
          font-family: 'Pacifico', cursive;
          font-size: 200px;
          line-height: 300px;
          text-shadow: -3px 0 4px RGBa(0,0,0,0.3), 0px 0px 50px RGBa(255,255,255,0.4);
          }
        h1 a:link,
        h1 a:visited,
        h1 a:hover,
        h1 a:active {
            
            margin-left:-25px;
            text-decoration:none;
          position: absolute;
          top: 0; z-index: 2;
          color: #fff;

          -webkit-mask-image: -webkit-gradient(linear, left top, 
            left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

            width:700px;
            display:inline-block;
          }
        h1:after {
          content: "Odalisk";
          color: #bbb;
          text-shadow: 3px 3px 1px #888;
          }
        
        /*h1 {
                    @title-size:200px;
                    font-family: 'Pacifico', cursive;
                    font-size:@title-size;
                    line-height:0px;
                    background: -webkit-gradient(linear, left top, left bottom, from(#1c89de), to(#115183));
                    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#bbb));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    
                    
                }*/
        
        #logo {
            height:229px;
        }
        
        h2 {
            @title-size:60px;
            font-family: 'Helvetica Neue', cursive;
            font-weight:100;
            font-size:@title-size;
            line-height:@title-size * 1.05;
            color:#fff;
            text-align:center;
            text-shadow: 0px 0px 20px RGBa(255,255,255,0.5);
        }
    }
}


#test {
    
}